:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
/* Mobile header styles */
header {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.logo {
    margin-left: 1rem;
}
.hide {
    display: none;
}
.shopping-cart {
    margin-left: auto;
}
.avatar {
    height: 2rem;
    margin-left: 1rem;
}

/* Section styling mobile design */
.sneaker-pics {
    position: relative;
}
.main-sneaker {
    width: 100%;
}
.switch-image {
    margin: 0 0.5rem;
    position: absolute;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    cursor: pointer;
}
.previous {
    left: 1rem
}
.next {
    right: 1rem;
}
/* Sneaker info styling */
.sneaker-info {
    padding: 1rem;
}
.company-name {
    text-transform: uppercase;
    color: var(--orange);
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}
.sneaker-name {
    color: var(--very-dark-blue);
    font-size: 1.75rem;
    font-weight: 700;
}
.sneaker-information {
    color: var(--dark-grayish-blue);
    font-size: 0.95rem;
    margin-bottom: 0;
}
.pricing {
    display: flex;
    align-items: center;
}
.price {
    color: var(--very-dark-blue);
    font-weight: 700;
    font-size: 1.25rem;
}
.percent-off{
    margin-left: 1rem;
    color: var(--orange);
    background-color: var(--pale-orange);
    padding: 0.2rem;
    font-size: 0.8rem;
    font-weight: 700;
}
.original-price {
    margin-left: auto;
    color: var(--grayish-blue);
    font-weight: 700;
    text-decoration: line-through;
}
.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grayish-blue);
    border-radius: .75rem;
    padding: 0 1.5rem;
}
button {
    display: flex;
    justify-content: center;
    border:none;
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}
.icon {
    display: inline-block;
    background: var(--white);
    height: 20px;
    width: 20px;
    margin: auto 0;
    mask-size: cover;
}
.icon-cart {
    mask: url(./images/icon-cart.svg);
}

button > p {
    margin-left: 0.75rem;
}