:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
/* Mobile header styles */
header {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.hamburger {
    cursor: pointer;
}
#mobile {
    position: absolute;
    height: 100vh;
    width: 66vw;
    z-index: 4;
    top: 1rem;
    left: 0;
    background-color: var(--white);
    padding: 1rem 1.5rem;
}
#desktop {
    display: none;
}
.close {
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 1.5rem;
}
a {
    text-decoration: none;
    font-weight: 700;
    color: var(--very-dark-blue);
}
.blur {
    opacity: 0.5;
}
.logo {
    margin-left: 1rem;
}
.hide {
    display: none;
}
.number-items {
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
}
.orange-circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0rem 0.5rem;
    border-radius: 45%;
    background-color: var(--orange);
    top: -0.45rem;
    right: -0.65rem;
}
.avatar {
    height: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}

/* Section styling mobile design */
.sneaker-pics {
    position: relative;
}
.main-sneaker {
     width: 100%;
}
.sneaker-previews {
    display: none;
}
.switch-image {
    margin: 0 0.5rem;
    position: absolute;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    cursor: pointer;
}
.previous {
    left: 1rem
}
.next {
    right: 1rem;
}
/* Sneaker info styling */
.sneaker-info {
    padding: 1rem;
}
.company-name {
    text-transform: uppercase;
    color: var(--orange);
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}
.sneaker-name {
    color: var(--very-dark-blue);
    font-size: 1.75rem;
    font-weight: 700;
}
.sneaker-information {
    color: var(--dark-grayish-blue);
    font-size: 0.95rem;
    margin-bottom: 0;
}
.pricing {
    display: flex;
    align-items: center;
}
.price {
    color: var(--very-dark-blue);
    font-weight: 700;
    font-size: 1.25rem;
}
.percent-off{
    margin-left: 1rem;
    color: var(--orange);
    background-color: var(--pale-orange);
    padding: 0.2rem;
    font-size: 0.8rem;
    font-weight: 700;
}
.original-price {
    margin-left: auto;
    color: var(--grayish-blue);
    font-weight: 700;
    text-decoration: line-through;
}
.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grayish-blue);
    border-radius: .75rem;
    padding: 0 1.5rem;
}
.plus, .minus, .shopping-cart {
    cursor: pointer;
}
button {
    display: flex;
    justify-content: center;
    border:none;
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.75rem;
}
.add-cart {
    padding: 0rem;
}
.icon {
    display: inline-block;
    background: var(--white);
    height: 20px;
    width: 20px;
    margin: auto 0;
    mask-size: cover;
}
.icon-cart {
    mask: url(./images/icon-cart.svg);
}

button > p {
    margin-left: 0.75rem;
}
/* Cart styling */
.cart {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 2.5%;
    background-color: var(--white);
    width: 95%;
    min-height: 28%;
    margin: 0 auto;
    border-radius: 0.5rem;
}
.cart > h2 {
    padding: 1rem;
}
.divider {
    border: 1px solid var(--very-dark-blue);
    width: 100%;
}
.cart-item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item img:first-child {
    height: 3rem;
    width: 3rem;
    border-radius: 0.25rem;
}
.delete {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}
.full-cart-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
.item p {
    margin: 0;
    color: var(--dark-grayish-blue);
    font-size: 1.1rem;
}
.item p:first-child {
    margin-bottom: 0.5rem;
}
.item span:last-child {
    font-weight: bold;
    color: var(--very-dark-blue);
    margin-left: 0.5rem;
}

@media (min-width: 1440px) {
    body {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        min-height: 100vh;
    }
    .attribution {
        position: absolute;
        bottom: 0.5rem;
        width: 100%;
    }
    main {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }
    .switch-image {
        display: none;
    }
    .sneaker-pics, .sneaker-info {
        padding: 3rem;
    }
    .main-sneaker {
        border-radius: 1.5rem;
    }
    .sneaker-previews {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }
    .main-sneaker {
        width: 35rem;
        height: 35rem;
        cursor: pointer;
    }
    .container-img {
        height: 7rem;
        width: 7rem;
        border-radius: 1rem;
        overflow: hidden;
    }
    .sneaker-previews img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .active {
        border: 4px solid var(--orange);
    }
    .active > img {
        opacity: 0.4;
    }
    .sneaker-previews img:hover {
        opacity: 0.4;
    }
    .quantity-button {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }
    .add-cart {
        margin-top: 0;;
    }
    .quantity {
        width: 50%;
    }
    .sneaker-name {
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin: 1rem 0;
    }
    #desktop {
        display: flex;
    } 
    ul {
        display: flex;
        margin-left: 3rem;
        
    }
    li {
        margin-right: 1.5rem;
        margin-bottom: 0rem;
    }
    a {
        font-weight: 400;
        color: var(--dark-grayish-blue);
    }
    #mobile {
        display: none;
    }
    .hamburger {
        display: none;
    }
    .avatar {
        height: 3rem;
    }
    .cart {
        width: 27rem;
        left: 65%;
        border: none;
        box-shadow: 2px 2px 2px 2px var(--very-dark-blue);
    }
    .lightbox {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: -10rem;
        width: 100%;
    }
    .main-sneaker-lightbox {
        height: 40rem;
        width: 40rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
